.container{
    max-width: 1070px;
}

.countContain{
    border: 3px solid #d2cf1f;
    margin: 8px;
    min-width: 60px;
    min-height: 80px;
    left: 0;
    top: 0;
}

.countContain div{
    display: inline-block;
    padding: 5px;
    font-size: 3em;
}
.jumbotron{
    text-align: center;
}

