.container{
    max-width: 1070px;
}

.countContain{
    border: 3px solid #d2cf1f;
    margin: 8px;
    max-width: 200px;
    min-height: 80px;
}

.countContain div{
    display: inline-block;
    padding: 5px 0px;
}
.jumbotron{
    text-align: center;
}

.show{
    font-size: 4rem;
}

.row{
    width: 100%;
}

